<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course.selection.dao.ScheduleMapper">

	<select id="checkCourseYear">
		SELECT 
			course_year 
		FROM 
			course_offerings
		WHERE course_year = #{courseYear}
		GROUP BY course_year
	</select>

	<select id="findAllCourseInfo">
		SELECT
			course_index,
			course_dep,
			course_id,
			course_grade,
			course_name,
			course_required,
			course_credit,
			teacher_id
		FROM course_info
	</select>
	
	<select id="findAllClassInfo">
		SELECT 
			class_id, 
			department_id, 
			grade, 
			class_name 
		FROM class_info
	</select>
	
	<select id="findAllCurrentStudent">
		SELECT 
			a.* 
		FROM user_info a 
		WHERE a.permission_id = '3' AND a.class_id IS NOT NULL
	</select>

	<insert id="insertAllCourseOfferings">
		INSERT INTO course_offerings (
			course_index, 
			course_year, 
			course_semester, 
			course_class_id, 
			course_of_week, 
			course_start, 
			course_end, 
			course_locate, 
			course_content, 
			teacher_id,
			enrollment) 
		VALUES (
			#{courseIndex},
			#{courseYear},
			#{courseSemester},
			#{classId},
			#{courseOfWeek},
			#{courseStart},
			#{courseEnd},
			#{courseLocate},
			#{courseContent},
			#{userId},
			#{enrollment}
		)
	</insert>

	<select id="countStudentNum">
		SELECT
			count(*) as count
		FROM
			user_info a
		WHERE
			a.permission_id = 3 AND a.class_id = #{classId}
	</select>

	<insert id="importRequiredCourse">
		INSERT INTO course_score (course_dep, course_id, course_year, course_semester, course_class_id, student_id, teacher_id)
		SELECT
			c.course_dep,
			c.course_id,
			b.course_year,
			b.course_semester,
			b.course_class_id,
			a.user_id,
			b.teacher_id 
		FROM
			user_info a
			LEFT JOIN course_offerings b ON a.class_id = b.course_class_id
			LEFT JOIN course_info c ON b.course_index = c.course_index
		WHERE
			a.permission_id = 3 AND c.course_required = '1' AND b.course_year = #{courseYear}
	</insert>
</mapper>