<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course.selection.dao.CourseMapper">
	
	<select id="findCourse">
        SELECT 
            a.*, 
            CONCAT(a.weeks, ' ', a.course_start, '-', a.course_end, '節課') AS course_time,
            CONCAT(a.grade, '年', a.class_name, '班') AS full_class_name
        FROM (
        SELECT
            a.course_index,
            a.course_dep,
            c.department_name,
            a.course_id,
            a.course_name,
            a.course_required,
            CASE a.course_required
                WHEN '1' THEN '必修'
                WHEN '2' THEN '選修' 
            END AS required,
            a.course_year,
            a.course_semester,
            CASE a.course_semester
                WHEN '1' THEN '上'
                WHEN '2' THEN '下' 
            END AS semester,
            a.course_of_week,
            CASE a.course_of_week
                WHEN 'Monday' THEN '星期一'
                WHEN 'Tuesday' THEN '星期二'
                WHEN 'Wednesday' THEN '星期三'
                WHEN 'Thursday' THEN '星期四'
                WHEN 'Friday' THEN '星期五'
            END AS weeks,
            a.course_start, 
            a.course_end,
            a.course_locate,
            a.teacher_id,
            b.user_name as teacher_name,
            a.course_content,
            d.grade,
            d.class_name    
        FROM course a
        LEFT JOIN user_info b ON a.teacher_id = b.user_id
        LEFT JOIN department c ON a.course_dep = c.department_id
        LEFT JOIN class_info d ON a.course_class_id = d.class_id
        <where>
            <if test="courseIndex != null">
                AND a.course_index = #{courseIndex}
            </if>
            <if test="teacherId != null">
                AND a.teacher_id = #{teacherId}
            </if>
            <if test="studentId != null">
                AND a.student_id = #{studentId}
            </if>
            <if test="courseYear != null">
                AND a.course_year = #{courseYear}
            </if>
        </where>
        ) a
    </select>
    
    <insert id="insertCourse">
        INSERT INTO course(
            course_dep, course_id, course_name, course_required, course_year, course_semester, course_of_week, 
            course_start, course_end, course_locate, teacher_id)
        VALUES(
            #{depId}, #{courseId}, #{courseName}, #{courseRequired}, #{courseYear}, #{courseSemester}, #{courseOfWeek},
            #{courseStart}, #{courseEnd}, #{courseLocate}, #{teacherId});
    </insert>

    <select id="findDepartment">
        SELECT 
            department_id,
            department_name
        FROM department
        WHERE department_id != 'TE'
    </select>

    <select id="findTeacher" parameterType="java.lang.String">
        SELECT 
            user_id,
            user_password,
            permission_id,
            user_name,
            birth_date,
            sex,
            email,
            phone,
            department_id,
            class_id,
            admission_date,
            avatar
        FROM user_info
        WHERE department_id = #{depId} AND permission_id = 2
    </select>

    <delete id="deleteCourse">
        DELETE FROM course
        WHERE 
        course_index = #{courseIndex}
    </delete>

    <update id="updateCourse">
        UPDATE course 
        <set>
            <if test="depId != null and depId != ''">
                course_dep = #{depId},
            </if>
            <if test="courseId != null and courseId != ''">
                course_id = #{courseId},
            </if>
            <if test="courseName != null and courseName != ''">
                course_name = #{courseName},
            </if>
            <if test="courseRequired != null and courseRequired != ''">
                course_required = #{courseRequired},
            </if>
            <if test="teacherId != null and teacherId != ''">
                teacher_id = #{teacherId},
            </if>
            <if test="courseYear != null and courseYear != ''">
                course_year = #{courseYear},
            </if>
            <if test="courseSemester != null and courseSemester != ''">
                course_semester = #{courseSemester},
            </if>
            <if test="courseOfWeek != null and courseOfWeek != ''">
                course_of_week = #{courseOfWeek},
            </if>
            <if test="courseStart != null and courseStart != ''">
                course_start = #{courseStart},
            </if>
            <if test="courseEnd != null and courseEnd != ''">
                course_end = #{courseEnd},
            </if>
            <if test="courseLocate != null and courseLocate != ''">
                course_locate = #{courseLocate},
            </if>
            <if test="courseContent != null and courseContent != ''">
                course_content = #{courseContent},
            </if>
        </set>
        WHERE course_index = #{courseIndex}
    </update>
    
    <select id="findScore">
        SELECT
            a.course_dep,
            a.course_id,
            a.course_year,
            a.course_semester,
            a.course_class_id,
            a.student_id,
            a.teacher_id,
            IFNULL(a.score, '0') as score,
            b.user_name,
            c.course_name 
        FROM
            course_score a
            LEFT JOIN user_info b ON a.student_id = b.user_id
            LEFT JOIN course c ON a.course_dep = c.course_dep 
            AND a.course_id = c.course_id 
            AND a.course_year = c.course_year 
            AND a.course_semester = c.course_semester 
            AND a.course_class_id = c.course_class_id 
        <where>
            <if test="depId != null and depId != ''">
                AND a.course_dep = #{depId}
            </if>
            <if test="teacherId != null and teacherId != ''">
                AND a.teacher_id = #{teacherId}
            </if>
            <if test="courseId != null and courseId != ''">
                AND a.course_id = #{courseId}
            </if>
            <if test="classId != null and classId != ''">
                AND a.course_class_id = #{classId}
            </if>
            <if test="courseYear != null and courseYear != ''">
                AND a.course_year = #{courseYear}
            </if>
            <if test="courseSemester != null and courseSemester != ''">
                AND a.course_semester = #{courseSemester}
            </if>
        </where>
        ORDER BY
            a.student_id
    </select>

    <select id="findTeacherCourseById">
        SELECT
            a.course_id,
            a.course_name 
        FROM
            course a 
        WHERE
            a.teacher_id = #{userId}
        GROUP BY
            course_id,
            course_name
    </select>

    <update id="updateScoreMap">
        UPDATE course_score
        SET score = #{score}
        WHERE
        course_dep = #{courseDep}
        AND course_id = #{courseId}
        AND course_year = #{courseYear}
        AND course_semester = #{courseSemester}
        AND course_class_id = #{courseClassId}
        AND student_id = #{studentId}
        AND teacher_id = #{teacherId}
    </update>

    <update id="updateScore" parameterType="java.util.List">
        <foreach collection="listMap" item="item" separator=";">
            UPDATE course_score
            SET score = #{item.score}
            WHERE
            course_dep = #{item.courseDep}
            AND course_id = #{item.courseId}
            AND course_year = #{item.courseYear}
            AND course_semester = #{item.courseSemester}
            AND course_class_id = #{item.courseClassId}
            AND student_id = #{item.studentId}
            AND teacher_id = #{item.teacherId}
        </foreach>
    </update>
</mapper>