<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course.selection.dao.SelectMapper">
	<select id="checkCourseStatus">
        SELECT 
            b.course_dep,
            b.course_id,
            b.course_name,
            a.course_capacity
        FROM
            course_offerings a
        LEFT JOIN course_info b ON a.course_index = b.course_index
        WHERE b.course_required = '2'
    </select>

    <select id="findCourseCapacity">
        SELECT
            a.course_dep, a.course_id, count(*) AS capacity
        FROM
            course_score a
            LEFT JOIN course_offerings b ON a.course_year = b.course_year AND a.course_semester = b.course_semester
            AND a.course_class_id = b.course_class_id
            LEFT JOIN course_info c ON b.course_index = c.course_index AND a.course_dep = c.course_dep AND a.course_id = c.course_id
            WHERE c.course_required = '2'
        GROUP BY a.course_dep, a.course_id
        HAVING capacity > 1
    </select>

	<insert id="insertScore">
        INSERT INTO course_score (
            course_dep, course_id, course_year, course_semester,
            course_class_id, student_id, teacher_id)
        VALUES (
            #{courseDep}, #{courseId}, #{courseYear}, #{courseSemester},
            #{classId}, #{studentId}, #{teacherId}
        )
    </insert>

    <delete id="deleteScore">
        DELETE FROM course_score 
        WHERE course_dep = #{courseDep} AND course_id = #{courseId}
        AND course_year = #{courseYear} AND course_semester = #{courseSemester}
        AND course_class_id = #{classId} AND student_id = #{studentId}
        AND teacher_id = #{teacherId}
    </delete>
</mapper>