<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course.selection.dao.UserMapper">
	
	<select id="findUsers">
		SELECT 
			a.user_id, 
			a.user_password, 
			a.permission_id, 
			a.user_name, 
			a.birth_date,
			a.sex,
			CASE a.sex 
				WHEN '1' THEN '男'
				WHEN '2' THEN '女'
			END AS gender, 
			a.email, 
			a.phone, 
			a.department_id, 
			a.class_id, 
			a.admission_date, 
			a.avatar,
			b.department_name, 
			IFNULL(c.class_name, '') as class_name,
			IFNULL(c.grade, '') as grade
		FROM user_info a
		LEFT JOIN department b ON a.department_id = b.department_id
		LEFT JOIN class_info c ON a.class_id = c.class_id
		<where>
			a.permission_id = #{permissionId}
			<if test="userId != null and userId!= ''">
				AND a.user_id = #{userId}
			</if>
			<if test="depId != null and depId != ''">
				AND a.department_id = #{depId}
			</if>
			<if test="classId != null and classId != ''">
				AND a.class_id = #{classId}
			</if>
		</where>
	</select>

	<select id="findClassInfo">
		SELECT
			class_id,
			grade,
			class_name
		FROM class_info
		WHERE 
		department_id = #{depId} AND 
		grade = #{classGrade} AND 
		class_name = #{className}
	</select>

	<insert id="insertUser">		
		INSERT INTO user_info (
			user_id,
			user_password,
			permission_id,
			user_name,
			birth_date,
			sex,
			email,
			phone,
			department_id,
			<if test="classId != null and classId != ''">
				class_id,
			</if>			
			admission_date,
			avatar
		) VALUES (
			#{userId},
			#{password},
			#{permissionId},
			#{userName},
			#{birthDate},
			#{sex},
			#{email},
			#{phone},
			#{depId},
			<if test="classId != null and classId != ''">
				#{classId},
			</if>
			#{admissionDate},
			#{avatar}
		)
	</insert>

	<update id="updateUser">
		UPDATE user_info
		<set>
			<if test="userName != null and userName != ''">
				user_name = #{userName},
			</if>
			<if test="birthDate != null and birthDate != ''">
				birth_date = #{birthDate},
			</if>
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="email != null and email != ''">
				email = #{email},
			</if>
			<if test="depId != null and depId != ''">
				department_id = #{depId},
			</if>
			<if test="classId != null and classId != ''">
				class_id = #{classId},
			</if>
			<if test="admissionDate != null and admissionDate != ''">
				admission_date = #{admissionDate},
			</if>
			<if test="avatar != null and avatar != ''">
				avatar = #{avatar}
			</if>
		</set>
		WHERE 
			user_id = #{userId}
	</update>

	<delete id="deleteUser">
		DELETE FROM user_info WHERE user_id = #{userId}
	</delete>

	<select id="findUserByEmail">
		select * from user_info where email = #{email}
	</select>

	<update id="updatePassword">
		UPDATE user_info
			SET user_password = #{password}
		WHERE
			email = #{email}
	</update>

	<update id="updateCurrentStudent">
		UPDATE user_info a
		LEFT JOIN class_info b ON a.class_id = b.class_id
		LEFT JOIN class_info c ON c.grade = b.grade + 1 AND c.class_name = b.class_name
		SET a.class_id = c.class_id
		WHERE a.permission_id = '3' AND a.class_id IS NOT NULL
	</update>
</mapper>