<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="course.selection.dao.UserMapper">
	
	<select id="findUser">
		select 
			user_id, user_password, permission_id, user_name, birth_date,
			sex, email, phone, department_id, class_id, admission_date, sticker 
		from user_info
		where user_id = #{username} and user_password = #{password}
	</select>
</mapper>